---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<h2>Projects</h2>

<h3>Wireless AI for IoT</h3>
<h4>Motion Localization by WiFi Sensing</h4>
<h4>Indoor Tracking and Navigation based on Mobile IMU Sensors</h4>

<h3>Auditory Nueroscience</h3>
<h4>Mutual Information Analysis of Auditory Brain Responses and Effects of Aging</h4>
<h4>Machine Learning Applications in Auditory Research</h4>
<!-- <img  -->

<h3>Speech and Acoustics</h3>
<h4>DNN-based Speech Enhancement</h4>
<h4>Joint Approach of Auditory Attention Decoding and Speech Enhancement</h4>

<h2>Publications</h2>

<h3>Journals</h3>
<!-- {% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<ol>
  <li><strong>Peng Zan</strong>, Alessandro Presacco, Samira Anderson, and Jonathan Z. Simon. <a href="https://journals.physiology.org/doi/abs/10.1152/jn.00002.2020" style="text-decoration: none">Exaggerated Cortical Representation of Speech in Older Listeners: Mutual Information Analysis</a>. <i>Journal of Neurophysiology, 124(4):1152-1164, 2020</i>.</li>
  <li><strong>Peng Zan</strong>, Alessandro Presacco, Samira Anderson, and Jonathan Z. Simon. <a href="https://journals.physiology.org/doi/abs/10.1152/jn.00270.2019" style="text-decoration: none">Mutual Information Analysis of Neural Representations of Speech in Noise in the Aging Midbrain</a>. <i>Journal of Nuerophysiology, 122(6):2372-2387, 2019</i>.</li>
  <li>Kai Lu, Wanyi Liu, Kelsey Dutta, <strong>Peng Zan</strong>, Jonathan B Fritz, and Shihab A. Shamma. <a href="https://www.jneurosci.org/content/39/44/8664" style="text-decoration: none">Adaptive Efficient Coding of Correlated Acoustic Properties</a>. <i>Journal of Neuroscience, 39(44):8664–8678, 2019</i>.</li>
  <li>Kai Lu, Wanyi Liu, <strong>Peng Zan</strong>, Stephen V. David, Jonathan B Fritz, and Shihab A. Shamma. <a href="https://www.jneurosci.org/content/38/46/9955" style="text-decoration: none">Implicit Memory for Complex Sounds in Higher Auditory Cortex of the Ferret</a>. <i>Journal of Neuroscience, 38(46):9955–9966, 2018</i>.</li>
  <li>Junmin Liu, Yongchang Hui, and <strong>Peng Zan</strong>. <a href="https://ieeexplore.ieee.org/abstract/document/7941985" style="text-decoration: none">Locally Linear Detail Injection for Pansharpening</a>. <i>IEEE Access, vol. 5, pp. 9728-9738, 2017</i>.</li>
  <li>Dai Wang, Xiaohong Guan, Jiang Wu, Pan Li, <strong>Peng Zan</strong>, and Hui Xu. <a href="https://ieeexplore.ieee.org/abstract/document/7154496" style="text-decoration: none">Integrated Energy Exchange Scheduling for Microgrids with Electric Vehicles</a>. <i>IEEE Transactions on Smart Grid, 7(4):1762-1774, 2015</i>.</li>
</ol>

<h3>Conferences</h3>
<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
<ol>
  <li>Wenqiang Pu, <strong>Peng Zan</strong>, Jinjun Xiao, Tao Zhang, Zhi-Quan Luo. <a href="https://ieeexplore.ieee.org/document/9054592" style="text-decoration: none">Evaluation of Joint Auditory Attention Decoding and Adaptive Binaural Beamforming Approach for Hearing Devices with Attention Switching</a>. <i>IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), Barcelona, Spain, pp. 8728-8732, doi: 10.1109/ICASSP40776.2020.9054592, 2020</i>.</li>
  <li><strong>Peng Zan</strong>, Alessandro Presacco, Samira Anderson, and Jonathan Z. Simon. <a href="http://cansl.isr.umd.edu/simonlab/pubs/ARO2019CortexMI.pdf" style="text-decoration: none">Cortical Over-representation of Speech in Older Listeners Correlates with a Reduction in both Behavioral Inhibition and Speech Intelligibility</a>. <i>ARO 42nd Annual Midwinter Meeting, Baltimore, Maryland, U.S., 2019</i>.</li> 
  <li><strong>Peng Zan</strong>, Alessandro Presacco, Samira Anderson, and Jonathan Z. Simon. <a href="http://cansl.isr.umd.edu/simonlab/pubs/ARO2019MidbrainMI.pdf" style="text-decoration: none">Mutual Information Analysis of Neural Representations of Speech in Noise in the Aging Midbrain</a>. <i>ARO 42nd Annual Midwinter Meeting, Baltimore, Maryland, U.S., 2019</i>.</li> 
  <li><strong>Peng Zan</strong>, Alessandro Presacco, Samira Anderson, and Jonathan Z. Simon. <a href="http://cansl.isr.umd.edu/simonlab/pubs/SPLASH2018-MI-Midbrain.pdf" style="text-decoration: none">Mutual Information Analysis of Neural Representations of Speech in Noise in the Aging Midbrain</a>. <i>Auditory SPLASH, University of Pennsylvania, Philadelphia, Pennsylvania, U.S., 2018</i>.</li> 
</ol>