---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<h2>Projects</h2>


<h2>Publications</h2>

<h3>Journals</h3>
<!-- {% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<ol>
  <li><strong>Peng Zan</strong>, Alessandro Presacco, Samira Anderson, and Jonathan Z. Simon. &quot;<a href="https://journals.physiology.org/doi/abs/10.1152/jn.00002.2020" style="color: black">Exaggerated cortical representation of speech in older listeners: mutual information analysis</a>.&quot; <i>Journal of Neurophysiology, 124(4):1152-1164, 2020</i>.</li>
  <li><strong>Peng Zan</strong>, Alessandro Presacco, Samira Anderson, and Jonathan Z. Simon. &quot;<a href="https://journals.physiology.org/doi/abs/10.1152/jn.00270.2019" style="color: black">Mutual Information Analysis of Neural Representations of Speech in Noise in the Aging Midbrain</a>.&quot; <i>Journal of Nuerophysiology, 122(6):2372-2387, 2019</i>.</li>
  <li>Kai Lu, Wanyi Liu, Kelsey Dutta, <strong>Peng Zan</strong>, Jonathan B Fritz, and Shihab A. Shamma. &quot;<a href="https://www.jneurosci.org/content/39/44/8664" style="color: black">Adaptive efficient coding of correlated acoustic properties</a>.&quot; <i>Journal of Neuroscience, 39(44):8664–8678, 2019</i>.</li>
  <li>Kai Lu, Wanyi Liu, <strong>Peng Zan</strong>, Stephen V. David, Jonathan B Fritz, and Shihab A. Shamma. &quot;<a href="https://www.jneurosci.org/content/38/46/9955" style="color: black">Implicit Memory for Complex Sounds in Higher Auditory Cortex of the Ferret</a>.&quot; <i>Journal of Neuroscience, 38(46):9955–9966, 2018</i>.</li>
  <li>Junmin Liu, Yongchang Hui, and <strong>Peng Zan</strong>. &quot;<a href="https://ieeexplore.ieee.org/abstract/document/7941985" style="color: black">Locally Linear Detail Injection for Pansharpening</a>.&quot; <i>IEEE Access, vol. 5, pp. 9728-9738, 2017</i>.</li>
  <li>Dai Wang, Xiaohong Guan, Jiang Wu, Pan Li, <strong>Peng Zan</strong>, and Hui Xu. &quot;<a href="https://ieeexplore.ieee.org/abstract/document/7154496" style="color: black">Integrated energy exchange scheduling for microgrids with electric vehicles</a>.&quot; <i>IEEE Transactions on Smart Grid, 7(4):1762-1774, 2015</i>.</li>
</ol>

<h3>Conferences</h3>
<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

