---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<h2>Projects</h2>


<h2>Publications</h2>

<h3>Journals</h3>
<!-- {% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<ol>
  <li><strong>Peng Zan</strong>, Alessandro Presacco, Samira Anderson, and Jonathan Z. Simon. (2020). &quot;[Exaggerated cortical representation of speech in older listeners: mutual information analysis](https://journals.physiology.org/doi/abs/10.1152/jn.00002.2020).&quot; <i>Journal of Neurophysiology</i>. 124(4):1152-1164.</li>
  <li><strong>Peng Zan</strong>, Alessandro Presacco, Samira Anderson, and Jonathan Z. Simon. (2019). &quot;[Mutual Information Analysis of Neural Representations of Speech in Noise in the Aging Midbrain](https://journals.physiology.org/doi/abs/10.1152/jn.00270.2019).&quot; <i>Journal of Nuerophysiology</i>. 122(6):2372-2387.</li>
  <li>Kai Lu, Wanyi Liu, Kelsey Dutta, <strong>Peng Zan</strong>, Jonathan B Fritz, and Shihab A. Shamma. (2019). &quot;[Adaptive efficient coding of correlated acoustic properties](https://www.jneurosci.org/content/39/44/8664).&quot; <i>Journal of Neuroscience</i>. 39(44):8664–8678.</li>
  <li>Kai Lu, Wanyi Liu, <strong>Peng Zan</strong>, Stephen V. David, Jonathan B Fritz, and Shihab A. Shamma. (2018). &quot;[Implicit Memory for Complex Sounds in Higher Auditory Cortex of the Ferret](https://www.jneurosci.org/content/38/46/9955).&quot; <i>Journal of Neuroscience</i>. 38(46):9955–9966.</li>
  <li>Junmin Liu, Yongchang Hui, and <strong>Peng Zan</strong>. (2017). &quot;[Locally Linear Detail Injection for Pansharpening](https://ieeexplore.ieee.org/abstract/document/7941985).&quot; <i>IEEE Access</i>, vol. 5, pp. 9728-9738.</li>
  <li>Dai Wang, Xiaohong Guan, Jiang Wu, Pan Li, <strong>Peng Zan</strong>, and Hui Xu. (2015). &quot;[Integrated energy exchange scheduling for microgrids with electric vehicles](https://ieeexplore.ieee.org/abstract/document/7154496).&quot; <i>IEEE Transactions on Smart Grid</i>. 7(4):1762-1774.</li>
</ol>

<h3>Conferences</h3>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

